@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
:root {
  --background-color: #edf0f7ff;
  --text-color: #083d94ff;
  --hover: #3681fa;
}
body {
  /* min-height: 100vh; */
  /* background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/844a2e12-df15-4697-b172-3e05db4d3413)
    no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: var(--background-color);
  /* display: flex;
  flex-direction: column; */
}

/* <=====================================================================================================================================================>
<====================================================== Navbar CSS Start               ======================================================================================> */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0px 5%;
  background: #bebebe1a;
  backdrop-filter: blur(40px);
  z-index: 999;
}
.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
ul li {
}

.navbar .logo img {
  margin-top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a {
  color: black;
  align-items: center;
}
.navbar a i {
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.nav-item:hover {
  color: var(--hover);
}

/* .icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
} */

#check {
  display: none;
}

@media (max-width: 1088px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 975px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

/* <=====================================================================================================================================================>
<====================================================== Navbar CSS END               ======================================================================================> */

/* ############################################################################################################## */
/* #################################################### Home CSS Start ########################################################## */
.home {
  display: flex;
  min-height: 100vh;

  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 5rem 5%;
  gap: 20px;
}
.home-right {
  display: flex;
  align-items: center;
}
.home-right img {
  /* background-color: red; */
  margin-top: 5%;
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  font-size: 8vmin;
}
h2 {
  font-size: 7vmin;
}
.home-left button {
  padding: 15px;
  gap: 5px;
  background-color: var(--text-color);
  color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: none;
  min-width: 60px;
  cursor: pointer;
}

.home-left button i {
  font-size: 20px;
}

.home-left h2 a {
  color: var(--text-color);
  text-decoration: none;
}
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  /* background: #ff5959; */
  background: rgba(0, 105, 233, 0.331);
  background: linear-gradient(
    90deg,
    rgba(0, 105, 233, 0.438) 0%,
    rgba(0, 149, 229, 0.19389005602240894) 52%,
    rgba(0, 188, 226, 0.356) 100%,
    rgba(44, 44, 213, 0.623) 100%
  );
  border-radius: 50%;
  opacity: 0.3;
  animation: rise 5s infinite ease-in;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 10s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
/* ############################################################################################################## */
/* #################################################### Home CSS END ########################################################## */

/* <!-- ########################################## Download Mobile App Section ########################################## --> */
.mobile-app {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0% 15%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  gap: 20vmin;
}
.app-content .app-text {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.app-content .app-text h3 {
  font-size: 5vmin;
}

.app-content .app-text h3 span {
  color: var(--text-color);
}
.app-content .app-text button {
  padding: 10px;
  background-color: #000000;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  gap: 10px;
  width: 50%s;
}

.app-mocup {
  display: flex;
  align-items: center;
  display: flex;
}
.app-feature-box {
  display: flex;
  gap: 20px;

  flex-direction: column;
}
.app-feature-box li i {
  color: rgb(156, 255, 7);
  font-size: 20px;
}
/* <!-- ########################################## Download Mobile App Section ########################################## --> */

/* ***********************************************##************************************************* */

/* <!-- ########################################## Feedback Section Start########################################## --> */

.feedback {
  /* display: flex;
  flex-direction: column; */
}
.feedback-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px;
  margin: 5% 0%;
  background-color: var(--text-color);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feedback .feedback-text h3 {
  font-size: 5vmin;
}
.feedback .feedback-text p {
  font-size: 20px;
}

.feedback-slider {
  /* display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh; */
  width: 100%;
  background-color: #3681fa;
  overflow: hidden;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/* <!-- ########################################## Feedback Section End ########################################## --> */
